*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Roboto', sans-serif;
	background: url(../img/jt.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}
.keeper{
	width: 1140px;
	margin: 0px auto;
}
.keeper-in{
	background-color: blue;
	padding: 25px;
}
.keeper-in h1{
	text-align: center;
	color: black;
	margin: 10px 0;
	font-size: 32px;
	text-transform: uppercase;
}
.form-in1{
	width: 49.4%;
	height: 40px;
	padding: 0px;
	margin-bottom: 10px
}
.form-in{
	width: 99.5%;
	height:40px;
	padding: 0px;
	margin-bottom: 10px;
}
.btn{
	margin: 0 auto;
	display: block;
	background: yellow;
	padding: 10px 20px;
	color: black;
	box-shadow: 2px 4px 6px skyblue;
}
